
body {
  font-family: sans-serif;
  text-align: center;
  background: #f0f0f0;
  padding: 2em;
}
input, button {
  padding: 0.6em;
  margin: 1em;
}
#result-image {
  max-width: 90%;
  border: 4px solid #ccc;
  margin-top: 1em;
}
